doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Invest in the future, build for the web!

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/sole.css')
    // endbuild

  body

    article

      section(data-bespoke-state='title')
        h1 Invest in the future:<br/>build for the <span>web</span>!
        h2 Soledad Penadés
        h3 @supersole

      section(data-bespoke-state='oneliner')
        h2.bullet Apps Engineer, Mozilla

      section
        h2.bullet Some time before...
        h1.bullet Android

      section
        q.bullet You can earn a living with Android apps

      section(data-bespoke-state='list')
        h2.bullet Photography apps
        ul
          li Less clunky than stock
          li HW buttons, silent
          li Image processing
          li Push limits of hardware
          li Do it realtime
          // TODO then 2 months then 2 weeks

      section(data-bespoke-state='list')
        h2.bullet Good feedback<span class="bullet">, but...</span>
        ul
          li Lots of untestable hardware issues
          li Can't buy all those phones!
          li Where's the iOS version?
          li And Blackberry?
          li Windows?
          li MacOS? <span class="bullet">(I was running <em>Linux</em>!)</span>

      section(data-bespoke-state='list')
        h2.bullet Interactive picture books start-up
        ul
          li Mac OS authoring environment
          li XML format that contained text, assets, transition/interaction data
          li Engine<span class="bullet">: iOS</span><span class="bullet">, Android</span>

      section(data-bespoke-state='list')
        h2.bullet Layout was DIFFICULT
        ul
          li No preview...
          li ... or differs from actual results<span class="bullet"> (1+ minute deploy times)</span>
          li Complex layouts <span class="bullet">... actually used a <tt>WebView</tt>!</span>
          li Native animations limited
          li Spending inordinate amounts of time in the profiler
          li Cargo cult optimisations
          li Testing<span class="bullet">&mdash;LOL</span>
      
      section(data-bespoke-state='list')
        h2.bullet Bad habits, deeply ingrained
        ul
          li Assets sized for iPad 1
          li Fun fun fun when retina iPads were introduced
          li Treating different sizes as an exception not a norm
      
      section
        h2.bullet One day I woke up and wondered...
        h1.bullet why is this not HTML+JS+CSS?

      section
        q.bullet ... because the web is not ready yet...
        q.bullet ... you can't have smooth animations and audio in the browser...
        h1.bullet OK

      section(data-bespoke-state='list')
        h2.bullet Contracting for local newspaper
        p.bullet We basically built a glorified RSS reader.
        ul
          li Layout kept getting more complex.
          li Again lots of <tt>WebView</tt>s.
          li Scripted actions in articles using JavaScript.
          li Nested items stack overflow<span class="bullet">, but NOT ALL devices had that error.</span>
          li Hey, so... <strong class="bullet">what about a total rewrite of this less than two years app?</strong>

      section
        h2.bullet One day I woke up and wondered again...
        h1.bullet why is this not HTML+JS+CSS?


      section
        q.bullet ... because the web is not ready yet...
        q.bullet ... you can't store offline data...
        q.bullet ... you can't have push notifications...
        h1.bullet A-ha.
      

      section
        h3.bullet One day I was updating the company website<span class="bullet"> and opened DevTools to live edit it</span>
        h1.bullet I had an epiphany


      section
        h3.bullet We’re recreating browsers again and again because...
        h2.bullet “the web is not ready”
        h1.bullet Enough is enough.

      section(data-bespoke-state='oneliner')
        h1.bullet I’m out of this madness<span class="bullet">, and back to the web.</span>

      section(data-bespoke-fullscreenbackground='img/lastninja2.jpg', data-bespoke-state='oneliner')
        h1.bullet Back with a vengeance

      section(data-bespoke-state='list')
        h2.bullet Two sides of the fence
        ul
          li Upsides vs downsides
          li Teach about upsides
          li Work in fixing the downsides!
          li So...

      section(data-bespoke-fullscreenbackground='img/heypanda.jpg')
        h1.bullet I joined Mozilla


      section(data-bespoke-fullscreenbackground='img/iwantyou.png')
        h1 We want YOU to build for the web

      <!--TODO standards hat-->
      section(data-bespoke-state='list')
        h2.bullet Why build for the web?
        ul
          li It's the only non proprietary platform. <span class="bullet"><em>No one</em> owns it.</span>
          li The closest to <em>Write Once Run Everywhere</em> you'll ever get.
          li Using standards === it'll work in the future
          li Fragmentation is not an issue<span class="bullet">, it's business as usual.</span>
          li Widens your base of customers.
          li Reusing existing knowledge.
          li Lowest development costs.
          li It's <em>everywhere</em> <span class="bullet">... even in e-books</span><span class="bullet">, TV set top boxes</span><span class="bullet">, GPS trackers</span><span class="bullet">, mobile native via <tt>WebKit</tt> views</span><span class="bullet">, native via PhoneGap, Ludei, AppCelerator...</span><span class="bullet">, desktop environments (GNOME 3)</span><span class="bullet">, Mac OS scripting...</span>
      

      section(data-bespoke-fullscreenbackground='img/firefoxmassive.jpg')
        h1 We helped unlock desktop browsers from monopoly

      section(data-bespoke-fullscreenbackground='img/firefoxos.jpg')
        h1 We're doing the same in mobile with Firefox OS

      <!--TODO one liners look nicer vertically centered, should have different styles-->
      section
        h2.bullet New APIs&rarr;
        h1.bullet Accessing hardware features with JavaScript

      section
        h2.bullet APIs
        ul
          li TODO
          li TODO

      section
        h3.bullet Firefox OS has prefixed API implementations
        h2.bullet It's the testing ground
        h1.bullet Submitted to standards track

      section
        h1 We help shaping standards, not build a proprietary OS in JS

      section
        h2.bullet Existing APIs&rarr;
        h1.bullet efficient mobile implementations

      section
        h2.bullet Existing APIs
        ul
          li WebGL
          li Web Audio
          li WebRTC
          li TODO


      section
        h2.bullet Over two billion people still don't have access to the Internet
        h1.bullet 2,000,000,000+


      section(data-bespoke-fullscreenbackground='img/tarako.jpg')
        h2 Tarako
        h1 $25 mobile phone


      section
        h2 Better tooling
        h1 Make the web "ready"

      section
        h2 TODO devtool feature 1
        p GIF demonstrating feature

      section
        h1 TODO polyfills and libraries
        p because JS is flexible and etc

      section
        h1 Yeah, but...

      section
        h3.bullet Missing a feature?
        h2.bullet Don't limit yourself to complaining
        h1.bullet Get involved!


      section
        h1 This is not the 90s anymore


      section
        h2.bullet The Web is YOURS,
        h1.bullet so shape it!

      section
        h1 Getting involved means you make informed decisions

      section
        h2.bullet What works? 
        h2.bullet What doesn't?
        h2.bullet Why?
        h2.bullet Is there a work around?


      section
        h1 Getting involved means your needs are taken into account

      section
        h2.bullet We need this feature for our use case...
        h2.bullet This feature can't work for this reason...

      section(data-bespoke-state='emphatic')
        h2.bullet A W3C editor sitting on their chair on a lonely room<span class="bullet"> will <em>never</em> know about your needs unless you tell them.</span>
       

      section
        h2.bullet Ways to get involved
        ul
          li Try your code in different browsers
          li Don't be afraid of giving feedback<span class="bullet">&mdash;your voice as developer is important.</span>
          li Try nightlies for preview features
          li Maybe even learn to compile your favourite browser!
          li File bugs
          li Participate in standards<span class="bullet">: mailing lists</span><span class="bullet">, GitHub repos</span><span class="bullet">, IRC</span><span class="bullet">, meet ups</span><span class="bullet">, the Extensible web summit...</span>
          li Build things
          li Break things!
          li File more bugs!

      // TODO replace ' with ’ where needed
      section
        h1 For the Web to be ours, it needs everyone’s input.

      section
        h1 Let’s build this future together.

      section
        h1 Thanks!
        h2 @supersole
        h3 soledadpenades.com




      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-fullscreenbackground/dist/bespoke-fullscreenbackground.min.js')
    script(src='bower_components/bespoke-convenient/dist/bespoke-convenient.js')
    script(src='bower_components/bespoke-indexfinger/dist/bespoke-indexfinger.js')
    script(src='bower_components/bespoke-secondary/dist/bespoke-secondary.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
